
{% extends 'base.html' %}
{% block title %}ダッシュボード{% endblock %}

{% block static %}
<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  
  <!-- Custom styles for this template -->
  {% endblock %}

{% block body %}
<!--p>ダッシュボード</p>
<a href="{% url 'list' uid %}">メモアプリ</a>
<a href="{% url 'schedule' uid %}">カレンダーアプリ</a>
<a href="{% url 'budget' uid %}">家計簿アプリ</a-->

<main>
  <h1 class="visually-hidden">Sidebars examples</h1>
  <!--h1>Sidebars examples</h1-->

  <div class="d-flex flex-column p-3 bg-light" style="width: 280px;">
    <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">FamilyPortal</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#house-door"/></svg>
          ダッシュボード
        </a>
      </li>
      <li>
        <a href="{% url 'list' uid %}" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          なんでもリスト
        </a>
      </li>
      <li>
        <a href="{% url 'schedule' uid %}" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#currentColor"/></svg>
          カレンダー
        </a>
      </li>
      <li>
        <a href="{% url 'budget' uid %}" class="nav-link link-dark">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
          家計簿
        </a>
      </li>
      <li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
</main>


<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

{% endblock %}
